BasedOnStyle: Google
IndentWidth: 2
DerivePointerAlignment: false
PointerAlignment: Left
AccessModifierOffset: -2
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
ColumnLimit: 0
